[main]
test_mode = false
web_port = 8032

[log]
## 0 - DEBUG, 1 - INFO, 2 - NOTICE, 3 - WARNING, 4 - ERROR, 5 - CRITICAL
#syslog_ident = voipbill
#syslog_min_level = 0
#syslog_max_level = 5
#file_filename =
#file_min_level = 0
#file_max_level = 3
#file2_filename =
#file2_min_level = 4
#file2_max_level = 5
#grouping_interval = 60


[db]
main =  host=host dbname=dbname user=user password=password
rad =   host=host dbname=dbname user=user password=password
calls = host=host dbname=dbname user=user password=password
ast =   host=host dbname=dbname user=user password=password

[geo]
region = 99
local_region_ids = 7495,7495499
local_city_codes = 7495,7498,7499

[udp]
host = host
port = port

[billing]
dc_break = 126
free_seconds = 5
wait_stop_package_seconds = 5

